-- Étape 1: Ajouter une colonne temporaire pour stocker les nouvelles valeurs de statut
ALTER TABLE products ADD COLUMN status_text VARCHAR(10) DEFAULT 'active';

-- Étape 2: Mettre à jour la colonne temporaire avec les valeurs convertie
UPDATE products SET status_text = CASE WHEN status = 1 THEN 'active' ELSE 'inactive' END;

-- Étape 3: Supprimer l'ancienne colonne status
ALTER TABLE products DROP COLUMN status;

-- Étape 4: Renommer la colonne temporaire en status
ALTER TABLE products CHANGE COLUMN status_text status VARCHAR(10) NOT NULL DEFAULT 'active';

-- Étape 5: Ajouter un index sur la colonne status pour améliorer les performances des filtres
ALTER TABLE products ADD INDEX idx_status (status);

-- Message de confirmation
SELECT 'Migration du champ status terminée avec succès' AS message;
